
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: "PT Sans Narrow", serif;
    font-size: 17px;
}

#formulaInput {
    height: 36px;
}


#dialog label {
    justify-self: right;
}

.dialogTitle {
    font-weight: bold;
}

.dialogButton {
    float: right;
    margin-left: 10px;
}

.dialogFields {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
}

.boxGraphics img {
    width: 48px;
    height: 36px;
}

.portTitle {
    padding-top: 5px;
}
.portDescription {
    text-indent: 12px;
    padding-bottom: 5px;
}


.subtitle {
    font-weight: bold;
    padding-bottom: 5px;
}

#sidePanel > div {
    padding: 5px;
}

/* Adding 1px for the border... */

#spreadsheetTable {
    border-collapse: separate;
    border-spacing: 0;
}



#spreadsheetTable th,
#spreadsheetTable td {
    padding: 0 3px;
    min-width: 73px;
    width: 73px;
    max-width: 73px;
    min-height: 37px;
    height: 37px;
    max-height: 37px;
    overflow: hidden;
    white-space: nowrap;
}

#spreadsheetTable img {
    widht: 72px;
    height: 36px;
    display: block;
}

#spreadsheetTable th {
    font-weight: normal;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    background-color: #fff;
    position: sticky;
    z-index: 2;
}

#spreadsheetTable td {
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
}

#spreadsheetTable td.focus {
    outline: 2px solid #88f;
}

#spreadsheetTable td.focus,
#spreadsheetTable td.editing {
    position: relative;
    z-index: 1;
}

#spreadsheetTable td.editing {
    outline: 2px solid #ddf;
}

#spreadsheetTable td.c,
#spreadsheetTable td.e,
#spreadsheetTable td.i,
#spreadsheetTable td.l,
#spreadsheetTable td.r {
    position: relative;
    background: white;
}

#spreadsheetTable td.l {
    overflow: visible;
    white-space: nowrap;
}

#spreadsheetTable td.c {
    text-align: center;
}

#spreadsheetTable td.e {
    color: red;
    text-align: center;
}

#spreadsheetTable td.i {
    padding: 0;
}

#spreadsheetTable td.r {
    text-align: right;
}

