* {
    font-family: Sans-Serif;
    font-size: 12px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

th {
    font-weight: normal;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}
td {
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
}

#dialog label {
    justify-self: right;
}