
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: "PT Sans Narrow", serif;
    font-size: 17px;
}

#formulaInput {
    height: 36px;
}


#dialog label {
    justify-self: right;
}


body table#spreadsheetTable tbody tr td.changed {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.dialogTitle {
    font-weight: bold;
}

.dialogButtons button,
.dialogButton {
    float: right;
    margin-left: 10px;
}

.dialogFields {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
}

.boxGraphics img {
    width: 48px;
    height: 36px;
}

.dependency, body #spreadsheetTable td.dependency {
    background-color: #f9cb9c;
}

.dependency2, body #spreadsheetTable td.dependency2 {
    background-color: #fce4cd;
}

#inputPortList .self, #outputPortList .self {
    background-color: lightblue;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* make sure the specifity is higher than #spreadsheettable td.c */
.input, body #spreadsheetTable td.input {
    background-color: #b6d7a8;
}

.input2, body #spreadsheetTable td.input2 {
    background-color: #d9ead3;
}


#inputPortList, #outputPortList {

}


input:invalid {
    background-color: #faa
}

.port {
    padding-top: 5px;
}


.portConfig {
    padding: 3px;
    float: right;
}

.subtitle {
    font-weight: bold;
    padding-bottom: 5px;
}

#sidePanel > div {
    padding: 5px;
    display: none;
}

#sidePanel .inputContainer {
    /*padding-left: 10px;*/
}

#sidePanel .inputContainer input {
    width: 100%;
}


/* Adding 1px for the border... */

#spreadsheetTable {
    border-collapse: separate;
    border-spacing: 0;
}



#spreadsheetTable th,
#spreadsheetTable td {
    min-width: 73px;
    width: 73px;
    max-width: 73px;
    min-height: 37px;
    height: 37px;
    max-height: 37px;
    overflow: hidden;
    white-space: nowrap;
}

#spreadsheetTable img {
    widht: 72px;
    height: 36px;
    display: block;
}

#spreadsheetTable th {
    font-weight: normal;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    background-color: #fff;
    position: sticky;
    z-index: 2;
    user-select: none;
}

#spreadsheetTable td {
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
}

#spreadsheetTable td.selected {
    outline: 2px solid #ddf;
    position: relative;
    z-index: 1;
}

#spreadsheetTable tr td.selected2 {
    background-color: lightblue;
}

#spreadsheetTable td.selected:focus {
    outline: 2px solid #88f;
}

#spreadsheetTable td.c,
#spreadsheetTable td.e,
#spreadsheetTable td.i,
#spreadsheetTable td.l,
#spreadsheetTable td.r {
    position: relative;
    background: white;
}

#spreadsheetTable td.l {
    overflow: visible;
    padding: 0 3px;
    white-space: nowrap;
}

#spreadsheetTable td.c {
    text-align: center;
}

#spreadsheetTable td.e {
    color: red;
    text-align: center;
}

#spreadsheetTable td.i {
    text-align: right;
    color: #888;
}

#spreadsheetTable td.r {
    padding: 0 3px;
    text-align: right;
}

details {
    margin-top: 5px;
    margin-bottom: 5px;
}

details summary {
    font-weight: bold;
}

details:open summary {
    margin-bottom: 5px;
/*    font-weight: bold; */
}

.symbols img {
    width: 72px;
    height: 36px;
}

